/* --------------------- */
/* Font Imports */
/* --------------------- */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap");
/* --------------------- */
/* Custom Properties */
/* --------------------- */

:root {
  /* colors */
  --clr-yellow-100: hsl(39, 89%, 49%);
  --clr-yellow-200: hsl(40, 84%, 53%);
  --clr-blue-100: hsl(230, 89%, 62%);
  --clr-blue-200: hsl(230, 89%, 65%);
  --clr-red-100: hsl(349, 71%, 52%);
  --clr-red-200: hsl(349, 70%, 56%);
  --clr-text: hsl(229, 25%, 31%);
  --clr-score: hsl(229, 64%, 46%);
  --clr-grey: hsl(217, 16%, 45%);
  --clr-radial-100: hsl(214, 47%, 23%);
  --clr-radial-200: hsl(237, 49%, 15%);
  /* font-sizes */

  /* font-families */
  --ff-barlow: "Barlow Semi Condensed", sans-serif;
}

/* --------------------- */
/* Tablet Size */
/* --------------------- */
@media (min-width: 35em) {
  /* font-sizes */
  :root {
  }
}

/* --------------------- */
/* Desktop Size */
/* --------------------- */
@media (min-width: 45rem) {
  /* font-sizes */
  :root {
  }
}

/* Set core body defaults */
body {
  font-family: var(--ff-barlow);
  font-size: 1rem;
  background-image: radial-gradient(
    var(--clr-radial-100),
    var(--clr-radial-200)
  );
  color: var(--clr-text);
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content 1fr;

  overflow-x: hidden;
}

/* --------------------- */
/* Utility Classes */
/* --------------------- */

/* colors */
.grey {
  color: var(--clr-grey);
}

/* typography */

.letter-spacing-1 {
  letter-spacing: 2.5px;
}
.letter-spacing-2 {
  letter-spacing: 2px;
}
.letter-spacing-3 {
  letter-spacing: 1.5px;
}

.line-height-1 {
  line-height: 2.5;
}
.line-height-2 {
  line-height: 2;
}
.line-height-3 {
  line-height: 1.7;
}

.uppercase {
  text-transform: uppercase;
}

.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

/* general */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

/* select everything that has an adjacent sibling before it */
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space--small {
  --flow-space: 0.5rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

/* screen reader mode only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
