/* --------------------- */
/* Components */
/* --------------------- */

.logo {
  height: 80%;
  margin-left: 0.5rem;
}

.score {
  --gap: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 20%;
  height: 100%;
  border-radius: 5px;
}

.score > p {
  margin-top: 0.5rem;
  margin-bottom: -0.7rem;
  color: var(--clr-score);
  font-size: min(3vw, 1.5rem);
}

.score > h1 {
  font-size: min(7vw, 5rem);
}

.options {
  display: flex;
  justify-content: center;
  height: 26vw;
  max-height: 12rem;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
  border: 3vw solid transparent;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0px 19px 42px -24px rgba(0, 0, 0, 0.71);
  cursor: pointer;
  transition: display 300ms ease-out;
}

.caption {
  margin-top: min(26vw, 12rem);
  color: white;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.paper {
  background-image: url("../images/icon-paper.svg");
  border-color: var(--clr-blue-100);
}

.scissors {
  background-image: url("../images/icon-scissors.svg");
  border-color: var(--clr-yellow-100);
}

.rock {
  background-image: url("../images/icon-rock.svg");
  border-color: var(--clr-red-100);
}

.rock-position {
  grid-column: 1/3;
}

.gameover {
  text-align: center;
  height: 1rem;
  grid-column: 1/3;
}

.result {
  color: white;
  font-size: 3.5rem;
  font-weight: 800;
}

.playagain {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem 4rem;
  letter-spacing: 2.5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.playagain:hover {
  color: var(--clr-red-200);
}

.empty {
  background-color: var(--clr-radial-100);
  border: none;
}

.rules {
  border: 1px solid white;
  padding: 0.5rem 2rem;
  border-radius: 10px;
}

.rules:hover {
  cursor: pointer;
  background-color: white;
  color: var(--clr-radial-100);
}

#overlay {
  position: fixed;
  display: none;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#overlay > p {
  font-size: 2.5rem;
}

#overlay > img {
  height: 30%;
}

#overlay > div {
  cursor: pointer;
  font-size: 5rem;
  color: hsl(216, 15%, 74%);
}

#overlay > div:after {
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
}

/* --------------------- */
/* Page Specific Backgrounds */
/* --------------------- */

body {
  background-size: cover;
}

/* --------------------- */
/* Layout */
/* --------------------- */

header {
  width: 80%;
  max-width: 50rem;
  justify-content: space-between;
  align-items: center;
  height: 20vw;
  max-height: 10rem;
  margin-top: 2rem;
  padding: 0.5rem;
  border: 3px solid var(--clr-grey);
  border-radius: 8px;
  margin-inline: auto;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 40rem;
  height: 50%;
  transform: translate(0, 25%);
  grid-template-rows: repeat(2, 10rem);
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.main-background {
  background-image: url("../images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: 17rem;
  background-position: center;
}

footer {
  color: white;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .options {
    border-width: 20px;
  }
}

@media (min-width: 1440px) {
  main {
    height: 70%;
    grid-template-rows: repeat(2, 12rem);
    grid-template-columns: repeat(2, 1fr);
  }

  .main-background {
    background-size: 21rem;
    background-position: 50% 35%;
  }

  footer {
    justify-content: flex-end;
    margin-inline: 5rem;
  }

  #overlay {
    position: fixed;
    width: 30rem; /* Full width (cover the whole page) */
    height: 30rem; /* Full height (cover the whole page) */
    margin-inline: auto;
    transform: translateY(50%);
    border-radius: 15px;
  }

  #overlay > p {
    align-self: flex-start;
    margin-left: 2rem;
  }

  #overlay > img {
    height: 50%;
  }
}
